# Project exclude paths
/.gradle/
/metaq-service-discovery/.gradle/
/metaq-service-discovery/build/
/metaq-service-discovery/build/classes/java/main/
/metaq-service-discovery/build/classes/java/test/
/metaq-service-gateway/.gradle/
/metaq-service-gateway/build/
/metaq-service-gateway/build/classes/java/main/
/metaq-services/metaq-common-area-service/.gradle/
/metaq-services/metaq-common-area-service/build/
/metaq-services/metaq-common-area-service/build/classes/java/main/